{# @var homepage \Drupal\wmcustom\Entity\Presenter\Node\Homepage #}

<h1>{{ homepage.label }}</h1>

{% include '@content-blocks/blocks.html.twig' with {
    contentblocks: page|content('content_blocks'),
} only %}

<div id="app"></div>
