{
    'parser': 'babel-eslint',
    'extends': 'airbnb',
    'rules': {
        'indent': ['error', 4, {'SwitchCase': 1}],
        'jsx-quotes': [2, 'prefer-single'],
        'react/jsx-indent-props': [2, 4],
        'react/jsx-indent': [2, 4],
        'react/jsx-key': 2,
        'react/no-direct-mutation-state': 2
    }
}
