/**
 *  Breakpoints
 */

$breakpoint-mobile-small: 420px;
$breakpoint-tablet-small: 640px;
$breakpoint-tablet-large: 768px;
$breakpoint-desktop-small: 960px;
$breakpoint-desktop-medium: 1280px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extra-large: 1600px;


/**
 *  General
 */

$border-radius: 4px;
$box-shadow: 2px 2px 4px rgba(0, 0, 0, .15);


/**
 *  Paragraphs
 */

$page-max-width: 960px;

$paragraph-max-width: 720px;
$paragraph-large-max-width: 960px;
$paragraph-margin-bottom: 3rem;
$paragraph-sidebar-width: 320px;


/**
 *  Spacing
 */

$padding-small: 20px;
$padding-medium: 30px;
$padding-large: 40px;
$padding-extra-large: 60px;


/**
 *  Padding map
 */

$breakpoints: (
    0: $padding-small,
    $breakpoint-tablet-small: $padding-medium,
    $breakpoint-desktop-small: $padding-large,
    $breakpoint-desktop-medium: $padding-extra-large,
);


/**
 *  Easings
 */

$basic-ease: .3s ease-in-out-sine;


/**
 *  Fill parent mixin
 */

%fill-parent {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;

    display: block;
    width: 100%; height: 100%;
}
