img {
    display: block;
    width: 100%; height: auto;

    &.is-loaded {
        display: block !important;

        animation: fadeIn $basic-ease;
    }
}

.img--rounded {
    border-radius: 50%;
}
