.button {
    display: inline-flex;

    padding: .5em .75em;

    text-decoration: none;
    line-height: 1;

    transition: background-color $basic-ease;
    background-color: $background-color--darker;
    color: inherit;

    border: 0;
    outline: 0;

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: shade($background-color--darker, 10%);
    }
}
