.highlight {
    background-color: getThemeColor("blue", "background");
    color: getThemeColor("blue", "color");

    &__image {
        width: 100%;

        background-size: cover;
        background-position: center;

        &::after {
            content: "";

            display: block;
            padding-top: (100% / 3);
        }
    }

    &__text {
        padding: $padding-small;
    }
}
