.quote {
    max-width: 500px;

    margin: 0 auto;

    p {
        font-size: 1.2em;
        font-weight: 700;
    }

    &__metadata {
        display: flex;
        flex-direction: row;

        align-items: center;

        margin-top: 1em;
    }

    &__image {
        flex-grow: 0;
        flex-shrink: 0;

        display: block;
        width: 40px; height: 40px;

        margin-right: .75em;

        border-radius: 50%;

        background-size: cover;
        background-position: center;
    }

    &__author {
        font-size: .8em;
        font-style: italic;
    }
}
