.text {
    text-align: justify;

    h2, h3, h4 {
        &:not(:last-child) {
            margin-bottom: .5em;
        }
    }

    p {
        &:not(:last-child) {
            margin-bottom: .75em;
        }

        &.lead {
            font-size: 1.1em;
        }

        & + h2,
        & + h3,
        & + h4 {
            margin-top: 1.5rem;
        }
    }

    ul,
    ol {
        margin: 1em 2em;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            &:not(:last-child) {
                margin-bottom: .25em;
            }
        }
    }
}
