<div class="l-page">
  {% include "@components/header/header.html.twig" %}

  {{ page.admin_tools }}
  {{ page.content }}

  <footer class="l-footer">
    {% include "@components/footer/footer.html.twig" %}
    {% include "@components/closure/closure.html.twig" %}
  </footer>
</div>
