.container {
    padding: $padding-small;

    overflow: hidden;

    @media (min-width: $breakpoint-tablet-large) {
        padding: $padding-medium;
    }

    @media (min-width: $breakpoint-desktop-small) {
        padding: $padding-large;
    }

    @media (min-width: $breakpoint-desktop-large) {
        padding: $padding-extra-large;
    }
}
