.faq {
    .faq-item {
        &:not(:last-child) {
            margin-bottom: $padding-small;
        }
    }
}

.faq-item {
    border: 1px solid #f5f5f5;
    border-radius: 5px;

    overflow: hidden;

    &__question {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        align-items: center;

        padding: .5em $padding-small;

        background-color: #f5f5f5;
    }

    &__answer {
        transition: height .3s ease;

        p {
            padding: $padding-small;
        }
    }

    &:not(.is-active) {
        .faq-item__answer {
            height: 0 !important;
        }
    }
}
