.video {
    &__video {
        position: relative;

        display: block;
        width: 100%; height: auto;

        &::after {
            content: "";

            display: block;
            padding-top: 56.25%;
        }

        iframe {
            @extend %fill-parent;
        }
    }

    &__caption {
        @extend %caption;
    }
}
