{# @var block \Drupal\wmcustom\Entity\Model\ContentBlock\Attachment #}

<div class="block">
    {% for attachment in block.attachments %}
        <div class="download">
            <div class="download__content">
                <h3 class="download__title">
                    <a href="{{ attachment.file | downloadUrl }}">
                        {{ attachment.label ? attachment.label : attachment.file.filename }}
                    </a>
                </h3>
                <p class="download__description">
                    {{ attachment.file | file_extension }} - {{ attachment.file.size | format_bytes }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
