{# @var block \Drupal\wmcustom\Entity\Model\ContentBlock\Faq #}

<div class="faq">
    {% for faqPair in block.faqs %}
        <div class="faq-item is-open">
            <div class="faq-item__question">
                {{ faqPair.question()|raw|striptags }}
            </div>
            <div class="faq-item__answer">{{ faqPair.answer()|raw }}</div>
        </div>
    {% endfor %}
</div>
