/**
 *  Font size system
 */

html {
    font-size: (90% / 1.6); // 1rem = 9px

    @media (min-width: $breakpoint-tablet-large) {
        font-size: (100% / 1.6); // 1rem = 10px
    }

    @media (min-width: $breakpoint-desktop-extra-large) {
        font-size: (110% / 1.6); // 1rem = 11px
    }
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}
