/**
 *  Shade / darken
 */

@function shade($color, $percentage) {
    @return mix(#000000, $color, $percentage);
}


/**
 *  Tint / lighten
 */

@function tint($color, $percentage) {
    @return mix(#ffffff, $color, $percentage);
}


/**
 *  Colors
 */

$background-color: #ffffff;
$background-color--darker: #f5f5f5;

$body-color: #1a1a1a;
$body-color--lighter: #eeeeee;


/**
 *  Theme colors
 */

$theme-colors: (
    "theme": (
        "base": #ff9900,
    ),
    "theme-2": (
        "base": #99ff00,
    ),
);

@function getThemeColor($theme, $color: "base") {
    $themes-map: map-get($theme-colors, $theme);

    @return map-get($themes-map, $color);
}


/**
 *  Brand colors
 */

$brand-colors: (
    "facebook": (
        "base": #3b5998,
    ),
    "twitter": (
        "base": #55acee,
    ),
    "instagram": (
        "base": #405de6,
    ),
    "pinterest": (
        "base": #bd081c,
    ),
    "snapchat": (
        "base": #fffc00,
    ),
    "linkedin": (
        "base": #0077b5,
    )
);

@function getBrandColor($brand, $color: "base") {
    $brands-map: map-get($brand-colors, $brand);

    @return map-get($brands-map, $color);
}
