@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

%font-base {
    font-family: "Lato";
}

%font-complementary {
    font-family: "Lato";
}

%font-complementary--bold {
    font-family: "Lato";
    font-weight: 700;
}


/**
 *  General
 */

body {
    @extend %font-base;
}


/**
 *  Headers
 */

h1, h2, h3, h4, h5 {
    @extend %font-complementary--bold;

    font-size: 3rem;
    line-height: 1.2;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}


/**
 *  Text
 */

p {
    font-size: 1.6rem;
}

b,
strong {
    font-weight: 700;
}


/**
 *  Links
 */

a {
    color: currentColor;

    text-decoration: underline;

    transition: opacity $basic-ease;
    opacity: .85;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

a.link,
p a,
.text a {
    position: relative;

    text-decoration: none;
    white-space: nowrap;

    &::after {
        content: "";

        position: absolute;
        left: 0; right: 0; bottom: 0;

        border-bottom: 1px solid currentColor;

        transition: opacity $basic-ease;
        opacity: .25;
    }

    &:hover,
    &:focus {
        &::after {
            opacity: .75;
        }
    }
}


/**
 *  Captions
 */

%caption {
    width: 100%;
    max-width: $page-max-width;

    margin: 0 auto;
    padding: .5em .5em 0;

    font-size: .75em;
    font-weight: 600;

    opacity: .65;
}
